



<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "div" class = "org.example.WiredStudent">
        <!-- getting value by using property -->
        <property name="age" value="1666"/>
        <property name="Name" value="Assigned value by Spring"/>
        <!-- getting value by using Constructor arg -->
        <constructor-arg value="M.V.D.M"/>
    </bean>

    <bean id = "div1" class = "org.example.WiredStudent">
        <!-- getting value by using Constructor arg -->
        <constructor-arg value="M.V.D.M"/>
    </bean>

</beans>







